@model OnkostenEditViewModel

@{
    ViewData["Title"] = "Onkost Bewerken";
}

<h2>Onkost Bewerken</h2>

<form asp-action="EditOnkosten" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Titel" class="control-label"></label>
        <input asp-for="Titel" class="form-control" />
        <span asp-validation-for="Titel" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Omschrijving" class="control-label"></label>
        <textarea asp-for="Omschrijving" class="form-control"></textarea>
        <span asp-validation-for="Omschrijving" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Bedrag" class="control-label"></label>
        <input asp-for="Bedrag" class="form-control" />
        <span asp-validation-for="Bedrag" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Datum" class="control-label"></label>
        <input asp-for="Datum" class="form-control" type="date" />
        <span asp-validation-for="Datum" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GroepsreisId" class="control-label"></label>
        <input asp-for="GroepsreisId" class="form-control" />
        <span asp-validation-for="GroepsreisId" class="text-danger"></span>
    </div>
    groepsreisId
    <div class="form-group mt-3">
        <button type="submit" class="btn btn-warning">Opslaan</button>
        <a asp-action="Index" class="btn btn-secondary">Annuleren</a>
    </div>
</form>