@model BestemmingDeleteViewModel
@{
    ViewData["Title"] = "Verwijderen";
}

<h1>Bestemming Verwijderen</h1>
<br />
<h4>Ben je zeker dat je de bestemming naar @Model.Naam wilt verwijderen?</h4>
<h5>Deze viel in de leeftijdscategorie @Model.Leeftijd.</h5>
<br />
<br />
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Verwijder" class="btn btn-primary" />
    <p></p>
    <a asp-action="Index" class="btn btn-primary">Terug naar de lijst</a>
</form>