@model ReviewDeleteViewModel
@{
    ViewData["Title"] = "Verwijderen";
}

<h1>Review Verwijderen</h1>
<br />
<h4>Ben je zeker dat je de review van [NAAM] wilt verwijderen?</h4>
<br />
<br />
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Verwijder" class="btn btn-primary" />
    <p></p>
    <a asp-action="Index" class="btn btn-primary">Terug naar de lijst</a>
</form>